@import 'https://fonts.googleapis.com/css2?family=Bungee+Outline&family=Diplomata+SC&display=swap';

@font-face {

font-family: 'SEGA LOGO FONT';
font-style: normal;
font-weight: normal;
src: local('SEGA LOGO FONT'), url('SEGA.TTF') format('.TTF');


}


h1
{
      
    font-family: "Bungee Outline", sans-serif;
    font-weight: 800;
    font-style:normal;
    color: #0ccac4;
}